:root {
  --contPadding: 30px 40px;
  --pink: #d95252;
  --grey: #f3f3f3;
  --green: #21523d;
  --shadow: 5px 5px 10px -5px #595959;
}
body {
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}
.mainCont {
  margin: 50px auto;
  width: 1024px;
  display: flex;
  color: var(--green);
}
.headerAndImgCont {
  background-color: var(--pink);
  text-align: center;
  width: 50%;
  padding: var(--contPadding);
}
.headerAndImgCont h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 63px;
  margin-bottom: 0;
  font-family: "Londrina Outline", cursive;
}
.mainImgCont {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  box-shadow: var(--shadow);
}
.mainImgCont img {
  width: 400px;
  object-fit: cover;
  margin-left: -50px;
}
.formCont {
  padding: var(--contPadding);
  width: 50%;
  background-color: white;
}
.formCont h2 {
  text-align: center;
  font-weight: 100;
}
.formCont input {
  display: block;
  border: none;
  background-color: var(--grey);
  border-radius: 3px;
  height: 30px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
#togglePassword {
  position: absolute;
  margin-top: -47px;
  margin-left: 300px;
}
#togglePassword:hover {
  cursor: pointer;
}
#togglePassword:active {
  color: grey;
}
#btn {
  background-color: var(--green);
  color: white;
  font-weight: bold;
  height: 50px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}
.formCont h3 {
  text-align: center;
}
.iconsCont {
  display: flex;
  justify-content: space-around;
}
.iconCont {
  border-radius: 50%;
  width: 74px;
  height: 75px;
  box-shadow: 0px 4px 8px -5px #595959;
  overflow: hidden;
}
.iconCont img {
  width: 75px;
}
.accountLink {
  margin: auto;
}
.accountLink a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
.accountLink a:hover {
  color: var(--green);
}
